.form-dis-or-dat {
  display:table;
  width:100%;
  border-radius:5px;
  border:1px solid #999;
  padding:4px;
  margin:3px;
}

.dis-or-dat-row {
  display:table-row;
}


header.dis-or-dat-row {
  background-color:#dfecef;
  color:#000;
  font-weight:bold;
  text-indent:5px;
}

.dis-or-dat-cell {
  display:table-cell;
  width:50%;
}

html.js .dis-or-dat-cell.hover {
  background:#fff7f7;
}

html.js .dis-or-dat-cell .form-item {
  background: rgb(71,91,113); /* Old browsers */
  background: -moz-linear-gradient(top, rgba(71,91,113,1) 0%, rgba(99,132,159,1) 50%, rgba(88,119,146,1) 51%, rgba(161,181,197,1) 100%); /* FF3.6+ */
  background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,rgba(71,91,113,1)), color-stop(50%,rgba(99,132,159,1)), color-stop(51%,rgba(88,119,146,1)), color-stop(100%,rgba(161,181,197,1))); /* Chrome,Safari4+ */
  background: -webkit-linear-gradient(top, rgba(71,91,113,1) 0%,rgba(99,132,159,1) 50%,rgba(88,119,146,1) 51%,rgba(161,181,197,1) 100%); /* Chrome10+,Safari5.1+ */
  background: -o-linear-gradient(top, rgba(71,91,113,1) 0%,rgba(99,132,159,1) 50%,rgba(88,119,146,1) 51%,rgba(161,181,197,1) 100%); /* Opera11.10+ */
  background: -ms-linear-gradient(top, rgba(71,91,113,1) 0%,rgba(99,132,159,1) 50%,rgba(88,119,146,1) 51%,rgba(161,181,197,1) 100%); /* IE10+ */
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#475b71', endColorstr='#a1b5c5',GradientType=0 ); /* IE6-9 */
  background: linear-gradient(top, rgba(71,91,113,1) 0%,rgba(99,132,159,1) 50%,rgba(88,119,146,1) 51%,rgba(161,181,197,1) 100%); /* W3C */  border:1px #999 solid;
  width:50%;
  border-radius:6px;
  padding:10px 3px;
  text-align:center;
  font-size:1.2em;
  border:1px #444 solid;
  color:#fff;
  margin:5px;
}
html.js .dis-or-dat-cell .form-item label {color:#fff}
html.js .dis-or-dat-cell .form-item input {display:none}
